.corpo {
    display: flex;
    flex-direction: column;
    background-color:darkgrey ;
    color:beige;
    width: 200px;
    height: 250px;
    border: 0.3rem;
   margin-left: 1rem;
   margin-top: 1rem;
    padding: 3px;
     border-radius: 1rem;
     box-shadow: 0.3rem 0.2rem gold;
}

.tituloDireito{
  
    margin-top: 2px;
    color:floralwhite;
}